{% load call %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Title</title>
    <style>
        body {
            background: url("{% static 'img_lights.jpg' %}");
            background-size: 100% 100%;
        }
        .product-title {
            height: 60px;
        }
        .product-image {
            height: 250px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-md-auto"><div class="card" style="width: 15rem;">
                <img class="card-img-top product-image" src="/media/{{ product.image }}">
                <div class="card-body">
                    <h5 class="card-title product-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product|convert_price:request.user }}</p>
                    <form action="{% url 'cart' %}" method="post">
                        <input type="number" name="quantity">
                        <input type="hidden" name="product" value="{{ product.id }}">
                        <button type="submit" class="btn btn-primary">Add to cart</button>
                        {% csrf_token %}
                    </form>
                </div>
            </div></div>
        {% endfor %}
        <div class="col"></div>
    </div>
    {% if prev_page %}
    <a class="btn btn-primary" href="{% url 'index' %}?page={{ prev_page }}" role="button">Prev page</a>
    {% endif %}
    {% if next_page %}
    <a class="btn btn-primary" href="{% url 'index' %}?page={{ next_page }}" role="button">Next page</a>
    {% endif %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>